<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Code With Stein</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>

    <body>
        <nav class="navbar is-info">
            <div class="navbar-brand">
                <a href="/" class="navbar-item"><strong>Code With Astha</strong></a>
            </div>
        </nav>

        <section class="section">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </body>
</html>